affine==2.4.0
attrs==23.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
contextily==1.4.0
contourpy==1.2.0
cycler==0.12.1
fiona==1.10.0
fonttools==4.45.1
geographiclib==2.0
geojson==3.1.0
geopandas==0.14.1
geopy==2.4.1
idna==3.7
joblib==1.3.2
kiwisolver==1.4.5
matplotlib==3.8.2
mercantile==1.2.1
numpy==1.26.2
packaging==23.2
pandas==2.1.3
Pillow==10.3.0
pyparsing==3.1.1
pyproj==3.6.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.11
PyQt5-sip==12.13.0
python-dateutil==2.8.2
pytz==2023.3.post1
rasterio==1.3.9
requests==2.32.2
scikit-learn==1.5.0
scipy==1.11.4
seaborn==0.13.0
Shapely==1.8.0
six==1.16.0
sklearn==0.0.post11
snuggs==1.4.7
threadpoolctl==3.2.0
tqdm==4.66.3
tzdata==2023.3
urllib3==2.2.2
utm==0.7.0
xgboost==2.0.2
xyzservices==2023.10.1
